name: CICD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: |
            echo ${{secrets.APPLICATION_SECRET}} | base64 --decode > ./src/main/resources/application-secret.properties
            chmod +x ./gradlew
            ./gradlew clean build -x test

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker
        run: docker build --platform linux/amd64 -t ${{ secrets.DOCKERHUB_USERNAME }}/godlife_server:latest .

      - name: Push Docker
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/godlife_server:latest
        
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Determine current upstream
        run: |
          STATUS=$(curl -L -k -o /dev/null -w "%{http_code}" "http://${{ secrets.GODLIFE_SERVER_IP }}/api/env")
          if [ $STATUS = 200 ]; then
            CURRENT_UPSTREAM=$(curl -L -k -s "http://${{ secrets.GODLIFE_SERVER_IP }}/api/env")
          else
            CURRENT_UPSTREAM=green
          fi

          if [ "$CURRENT_UPSTREAM" = "blue" ]; then
            TARGET_UPSTREAM=green
          else
            TARGET_UPSTREAM=blue
          fi

          echo "CURRENT_UPSTREAM=$CURRENT_UPSTREAM" >> $GITHUB_ENV
          echo "TARGET_UPSTREAM=$TARGET_UPSTREAM" >> $GITHUB_ENV

      - name: Start SSH agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy Docker on EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.GODLIFE_SERVER_IP }} "
            set -e
            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/godlife_server:latest
            sudo docker compose -f docker-compose-\$TARGET_UPSTREAM.yml up -d
          "

      - name: Health check new server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.GODLIFE_SERVER_IP }} "
            until curl -s -o /dev/null -w '%{http_code}' http://${{ secrets.GODLIFE_SERVER_IP }}/api/hc | grep 200; do
              echo 'Waiting for \$TARGET_UPSTREAM to be healthy...'
              sleep 5
            done
          "

      - name: Change nginx upstream
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.GODLIFE_SERVER_IP }} "
            echo 'set \$service_url \$TARGET_UPSTREAM:9090;' | sudo tee /home/${{ secrets.EC2_USER }}/nginx/conf.d/service-env.inc > /dev/null
            sudo docker exec nginxserver nginx -s reload
          "

      - name: Stop previous server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.GODLIFE_SERVER_IP }} "
            set -e
            sudo docker stop \$CURRENT_UPSTREAM
            sudo docker rm \$CURRENT_UPSTREAM
          "
